In [16]:
from datetime import datetime
import requests

response = requests.get('http://atlas.obs-hp.fr/sophie/sophie.cgi?n=sophies&a=htab&ob=ra,seq&c=o&o=51%20peg')

print(response.status_code)

200

In [17]:
import bs4

# Obtener el html

soup = bs4.BeautifulSoup(response.text, 'html.parser')

xpath_title = '//table[@class="datatable"]/tbody/tr/td[7]/text()'

query = soup.select('table[class="datatable"] tbody tr')

print(len(query))
#print(query[1].select('td')[6])
dates = []
for i in range(0, len(query)):
    #print(query[i].select('td')[6].text)
    dates.append(query[i].select('td')[6].text)
print('dates: ', len(dates))

183
dates:  183

In [18]:
import bs4

# Obtener el html

soup = bs4.BeautifulSoup(response.text, 'html.parser')

xpath_title = '//table[@class="datatable"]/thead/tr/th/a/text()'


query = soup.select('table[class="datatable"] thead th')

# Head

In [52]:
#query = soup.select('table[class="datatable"] thead tr th a')
#header = [querys.text for querys in query]


def _get_headers():
    row_header = soup.select('table[class="datatable"] thead tr th a')
    # table_body's header
    headers = [header.text for header in row_header]

    # List of data I want to get
    data_list = ['date', 'fiber_b', 'sn26', 'view_head', 'search_ccf']  
    position = []
    for i in range(0, len(headers)):
        for data in data_list:
            if headers[i] == data:
                position.append(i)

    columns = {}
    for i in range(0, len(data_list)):
        columns[data_list[i]] = position[i]
    return headers, columns
_get_headers()

(['objname',
  'RA (J2000) Dec',
  'S',
  'E',
  'seq',
  'slen',
  'date',
  'mode',
  'fiber_b',
  'exptime',
  'sn26',
  'view_spec',
  'view_head',
  'get_spec',
  'get_e2ds',
  'customize',
  'search_ccf'],
 {'date': 6, 'fiber_b': 8, 'sn26': 10, 'view_head': 12, 'search_ccf': 16})

In [19]:

query = soup.select('table[class="datatable"] thead th')
print(len(query))

header = []
for i in range(0,len(query)):
    header.append(query[i].text)

lista = ['date', 'fiber_b', 'sn26', 'view_spec', 'search_ccf']    
posicion = []
for i in range(0,len(header)):
    for j in range(0,len(lista)):
        if header[i] == lista[j]:
            posicion.append(i)

diccionario ={}
for i in range(0, len(lista)):
    diccionario[lista[i]]=posicion[i]
diccionario

17

{'date': 6, 'fiber_b': 8, 'sn26': 10, 'view_spec': 11, 'search_ccf': 16}

# Body

In [37]:
query = soup.select('table[class="datatable"] tbody tr')


print(query[3].select('td')[16].select('a')[0])
#print(query[0])

<a href="sophie.cgi?n=sophiecc&amp;a=hexp&amp;fql=[seq =825680]">search_CCF</a>

In [21]:
#Codigo de ejemplo platzi
def article_links(self):
    link_list = []
    for link in self._select(self._queries['homepage_article_links']):
        if link and link.has_attr('href'):
            link_list.append(link)

    return set(link['href'] for link in link_list)

In [148]:
def column():    
    query = soup.select('table[class="datatable"] tbody tr')
    
    select_a = []
    for i in range(0, len(query)):
        data = query[i].select('td')[16].select('a')
        
        select_a.append(data)
    
    link_list = []
    none_url = []
    for index, link in enumerate(select_a):
        if len(link) == 0:
            none_url.append(index)
        elif link[0] and link[0].has_attr('href'):
            link_list.append(link)

            
    return list(link[0]['href'] for link in link_list), none_url

In [196]:
a, none_url_list = column()
print(len(a))
print(none_url_list)

176
[11, 12, 13, 14, 15, 16, 17]

# Arreglar links

In [194]:
def _obtein_data(rows, column_name, none_url_list):

    results = []
    for i in range(0, len(rows)):
        data = rows[i].select('td')[column_name].text
        if len(data) !=0:
            results.append(data)
        elif len(data) == 0:
            results.append('')
    
    results_clean = np.delete(results, none_url_list).tolist()
    return results_clean

In [195]:
rows = soup.select('table[class="datatable"] tbody tr')
print( len(_obtein_data(rows, 6, [11, 12, 13, 14, 15, 16, 17])) )

176

In [182]:
borrar = [1,3,5]
borrar.(lambda x: x.replace(',',':'))

SyntaxError: invalid syntax (<ipython-input-182-0aef23b9169b>, line 2)

In [186]:
import numpy as np
lista_nombres = ['Ricky', 'Alvaro', 'David', 'Jacinto', 'Jose', 'Ricky', 'Jose', 'Jose']
borrar = [1,3,5]
np.delete(lista_nombres, borrar).tolist()
# Returns: ['l', '42', 'u']

['Ricky', 'David', 'Jose', 'Jose', 'Jose']